= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  = f.label :name, "Your Name"
  = f.text_field :name 
  %br
  %br
  = f.label :email, "Your E-mail"
  = f.text_field :email
  %br
  %br
  = f.label :time, "Time"
  = f.text_field :time

  .actions
    = f.submit 'Save'
